{% load static %}

<div class="pb-0 mb-0 justify-content-center text-light ">
    <footer class="bg-green">
        <div class="row justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <a class="navbar-brand" href="#">
                            <img src="{% static 'images/logo.png' %}" width="100" height="50"
                                 class="d-inline-block align-top"
                                 alt="">
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Blog</li>
                            <li>Portfolio</li>
                        </ul>
                    </div>
                    {#                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">#}
                    {#                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>#}
                    {#                        <p class="mb-1">605, RATAN ICON BUILDING</p>#}
                    {#                        <p>SEAWOODS SECTOR</p>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </footer>
</div>